:root {
    --white: #000000;
    --neutral-50: #16181D;
    --neutral-100: #2B2F39;
    --neutral-200: #484B55;
    --neutral-300: #5A5E67;
    --neutral-400: #70737A;
    --neutral-500: #898C92;
    --neutral-600: #AFB0B2;
    --neutral-700: #CCCCCB;
    --neutral-800: #EBEBEB;
    --neutral-900: #F5F5F5
    --black: #FFFFFF;

    --primary: #CE0E2D;
    --primary-light: #EE263B;
    --primary-dark: #C00020;
    --primary-lightest: #FFE7EF;
    --secondary: #083248;
    --secondary-light: #3A65A7;
    --page-background: #000000;
    --header-background: #FFFFFF;
    --header-stroke: #EBEBEB;
    --header-hover: #EEEEEE;
    --header-headings: #000000;
    --header-body: #5A5E67;
    --footer-background: #16181D;
    --footer-stroke: #484B55;
    --footer-brand: #FFFFFF;
    --footer-headings: #FFFFFF;
    --footer-body: #AFB0B2;
    --glass: #ffffff26;
    --glass-header: #000000;
    --glass-body: #000000;
    --glass-inverse: #00000080;
    --glass-inverse-header: #FFFFFF;
    --glass-inverse-body: #EEEEEE;
    --focused: #6FA5FF;
    --error: #FF4F4F;
    --error-light: #3C0F17;
    --success: #E9F7E1;
    --success-light: #233917;
}
