:root {
  --white: #ffffff;
  --neutral-50: #F5F5F5;
  --neutral-100: #EEEEEE;
  --neutral-200: #EBEBEB;
  --neutral-300: #CCCCCB;
  --neutral-400: #AFB0B2;
  --neutral-500: #898C92;
  --neutral-600: #70737A;
  --neutral-700: #5A5E67;
  --neutral-800: #484B55;
  --neutral-900: #2B2F39 --black: #000000;
  --primary: #EC1B2F;
  --primary-light: #FC282F;
  --primary-dark: #CD0021;
  --primary-lightest: #FFE1E9;
  --secondary: #083248;
  --secondary-light: #3A65A7;
  --page-background: #FFFFFF;
  --header-background: #FFFFFF;
  --header-stroke: #EBEBEB;
  --header-hover: #EEEEEE;
  --header-headings: #000000;
  --header-body: #5A5E67;
  --footer-background: #656565;
  --footer-stroke: #AFB0B2;
  --footer-brand: #FFFFFF;
  --footer-headings: #FFFFFF;
  --footer-body: #EEEEEE;
  --glass: #ffffff99;
  --glass-header: #000000;
  --glass-body: #000000;
  --glass-inverse: #ffffff99;
  --glass-inverse-header: #FFFFFF;
  --glass-inverse-body: #EEEEEE;
  --focused: #347BF0;
  --error: #D62828;
  --error-light: #FFE9ED;
  --success: #305B18;
  --success-light: #E9F7E1;
}
