/* ---------- MEDIA MIXINS UPDATED ---------- */
@mixin mobile-s {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: 767px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 1023px) {
        @content;
    }
}

@mixin tablet-lg {
    @media screen and (max-width: 1279px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (max-width: 1439px) {
        @content;
    }
}

@mixin desktop-lg {
    @media screen and (min-width: 1440px) {
        @content;
    }
}