$white: var(--white);
$black: var(--black);
$neutral-50: var(--neutral-50);
$neutral-100: var(--neutral-100);
$neutral-200: var(--neutral-200);
$neutral-300: var(--neutral-300);
$neutral-400: var(--neutral-400);
$neutral-500: var(--neutral-500);
$neutral-600: var(--neutral-600);
$neutral-700: var(--neutral-700);
$neutral-800: var(--neutral-800);
$neutral-900: var(--neutral-900);

$primary: var(--primary);
